<!DOCTYPE html>
<html>
<head>
    <title>BandTogether - Home</title>
    <%= yield %>
</head>

<body >
    <!-- Navigation -->
    <% provide(:title, "BandTogether - Home") %>


    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">BandTogether</h1>
                        <p class="intro-text">You'll never play alone</p>
                        <br/>
                        <%= button_to "Sign Up", new_user_registration_path, :class => "btn btn-primary btn-lg", :method => "get" %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About BandTogether</h2>
                <p>
                    BandTogether is a social platform in which musicians can create Band and Events! Sign in and have fun! 
                </p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contacts</h2>
                <p>Feel free to email us to provide some feedback on our application, to give us suggestions for new function, or to just say hello!</p>
                
                <a href="mailto:feedback@startbootstrap.com">bandtgt.info@gmail.com</a></p>
            </div>
        </div>
    </section>
</body>
</html>
