<!DOCTYPE html>
<html>
<head>
	<title>User Pofile</title>
</head>
<body>
	
     <h4> questa è l'home page che vede l'utente loggato</h4>

    <a>
        <%= button_to "Sign Out", destroy_user_session_path, :class => "btn btn-primary btn-md", :method => "delete" %>
        <br/>
        <%= button_to "Profile", users_show_path, :class => "btn", :method => "show", :id => "Profile" %>
        <br>
        <%= button_to "Settings", edit_user_registration_path, :class => "btn", :method => "get" %>
    </a>
</body>

</html>
	