<div class="col-sm-3">
  <%= render partial: 'layouts/search_sidebar', locals: {advertisments: @advertisments, type: "ads"} %>  
</div>

<div class="col-md-9" id="ads_results">
  
   <div class="panel panel-default">
    <div class = "panel-heading">
      	  <h2 class = "panel-title" style="margin-top:5px;">
	        <b>Advertisements found:</b>
	      </h2>
    </div> 
    <div class="panel-body" id="pnlEntriesFound">
        <ul class="entries">
          <%= render partial: 'advertisments/results', collection: @advertisments, as: :advertisment %>
        </ul>
     </div>
  </div>
</div>

