<h1>Advertisements</h1>
<br>
<div class="form-group">
    <%= form_tag(advertisments_path, :method => "get", id: "search-form", class: "form-inline") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Advertisments", size: 45, class: "form-control" %>
        <%= submit_tag "Search", :name => nil, class: "btn btn-secondary" %>
    <% end %>
</div>
<br>
<div>
    <%= render partial: "advertisments/search", locals: {advertisments: @advertisments} %>
</div>
