<div class="container-fluid">		
	<h1>Search Results</h1>
	<br>

	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a data-toggle="tab" href="#advertisments" id="ad-tab">Advertisments</a></li>
		<li><a data-toggle="tab" href="#users" id="user-tab">Users</a></li>
		<li><a data-toggle="tab" href="#bands" id="band-tab">Bands</a></li>
	</ul>

	<br>

	<div class="tab-content">
		<div id="advertisments" class="tab-pane fade in active">
			<div>
				<%= render partial: "advertisments/search", locals: {advertisments: @advertisments} %>
			</div>			
		</div>

		<div id="users" class="tab-pane fade">
			<div>
				<%= render partial: "users/search", locals: {users: @users} %>
			</div>			
		</div>

		<div id="bands" class="tab-pane fade">
			<div>
				<%= render partial: "bands/search", locals: {bands: @bands} %>
			</div>			
		</div>
	</div>	
</div>

