<% htmlForUsernames = "" %>
<% conversation.recipients.each do |usr| %>
  <% if usr != current_user %>
    <%  htmlForUsernames = "#{htmlForUsernames}#{usr.username}&nbsp;" %>
  <% end %>
<% end %>



<% if conversation.is_trashed?(current_user) %>

              <% htmlForTrash = " <span onclick='untrashItem(#{conversation.id});' class='glyphicon glyphicon-retweet btn btn-info pull-right'></span>" %>
<% else %>
                <% htmlForTrash = " <span onclick='trashItem(#{conversation.id});' class='glyphicon glyphicon-trash btn btn-danger pull-right'></span>" %>
<% end %>



<% if conversation.is_unread?(current_user) %>
  <% htmlForLinkClass = "list-group-item list-group-item-info" %>
<% else %>
  <% htmlForLinkClass = "list-group-item list-group-item-action" %>
<% end %>


<li class="right clearfix conversation-entry" >
  <%= link_to conversation_path(:id => conversation,:folder => @mailboxer_active), class: "#{htmlForLinkClass} conversation-link" do %>

      <%= "
        <strong class='primary-font'>

                      #{htmlForUsernames}

                </strong><br/>

                #{htmlForTrash}
                <i>#{conversation.subject}</i>
             <br/>
                <small class='pull-left text-muted'>
            <u> Last Message:</u><br/>
               <b> #{conversation.messages.last.sender.username}</b>
                #{truncate conversation.messages.last.body, length: 20}
               <br/>
               <span class='glyphicon glyphicon-time'></span>
                #{conversation.messages.last.created_at.strftime("%B %d, %Y at %H:%M") }
             </small>
          ".html_safe %>


   <% end %>

</li>
