<h1>Bands</h1>
<br>
<div class="form-group">
    <%= form_tag(band_index_path, :method => "get", id: "search-form", class: "form-inline") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Bands", size: 45, class: "form-control" %>
        <%= submit_tag "Search", :name => nil, class: "btn btn-secondary" %>
    <% end %>
</div>
<br>
<div>
    <%= render partial: "band/search", locals: {bands: @bands} %>
</div>