<h3>My Bands: </h3>

    <ol>
    	<% @bands.each do |b| %><br/>
    		
    		<li><%= link_to b.name, band_show_path(:id => b.id), :method => "get" %>(dovrei passare <%=b.id%>)</li>
    	
    	<% end %>
    </ol>


</br><%= button_to "New Band", band_new_path, :id => "CreateBand", :class => "btn btn-primary btn-md", :method => "get" %>