<div class="row">



  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
          <%= link_to "Compose", new_conversation_path, class: "btn btn-success" %>
        <%= render 'mailbox/folders' %>
      </div>

    </div>
  </div>



  <div class="col-md-8">
    <div class="panel panel-default">
        <% if is_conversation %>
              <div class = "panel-heading">
                <h2 class = "panel-title">
                  New Conversation
                </h2>
              </div>
              <div class="panel-body">
                  <%= render 'conversations/form' %>
              </div>
        <% else %>
              <div class = "panel-heading">
                  <h2 class = "panel-title">
                    Conversations:
                  </h2>
              </div>
              <div class="panel-body">
                  <% if messages.empty? %>
                    There are no messages yet
                  <% else %>
                    <%= render partial: 'conversations/conversation', collection: messages %>
                  <% end %>
              </div>
        <% end %>

    </div>
  </div>



</div>
