<h1>Advertisments</h1>
<br>
<div>
    <%= form_tag(advertisment_index_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Advertisments" %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>
</div>
<br>
<div>
    <%= render partial: "advertisment/search", locals: {advertisments: @advertisments} %>
</div>
