<div class="col-sm-3">
  <%= render partial: 'layouts/search_sidebar', locals: {bands: @bands, type: "bands"} %>    
</div>

<div class="col-md-9">
  <%= render partial: 'bands/results', locals: {bands: @bands} %>
</div>


