
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Band Toghether, <%= @user.first_name %></h1>
    <p>
      You have successfully registered in our application,
      your username is: <%= @user.username %>.<br>
      your temporary password is: '123456'.<br>
      PLEASE, CHANGE IT AS SOON AS POSSIBLE IN YOUR SETTINGS PAGE! <br>
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Regards, Band Together Staff.</p>
  </body>
</html>
