/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .

 *= require_self
 *= require_bootstrap
 *= require_bootstrap-sprockets
 *= require font-awesome
 *= require fullcalendar
 *= require chosen
 *= require bootstrap-select
 *= require bootstrap-slider
 */
 @import "bootstrap";
 @import "bootstrap-sprockets";




 html {
   width: 100%;
   height: 100%;
 }

 body {
    padding-top: 50px;
 }

 #ageSlider .slider-selection {
	background: #BABABA;
}



 body{
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 30px;
 }

 .static_pages_home{
 	margin-left: 0px !important;
   margin-right: 0px !important;
   margin-top: 0px !important;
 }