/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .

 *= require_self
 *= require_bootstrap
 *= require_bootstrap-sprockets
 *= require font-awesome
 *= require fullcalendar
 *= require chosen
 *= require bootstrap-select
 */
 @import "bootstrap";
 @import "bootstrap-sprockets";




 html {
   width: 100%;
   height: 100%;
 }

 body {
    padding-top: 50px;
 }



 .mailbox_inbox,
 .mailbox_sent,
 .mailbox_trash,
 .conversations_show,
 .conversations_new,
 .users_edit_profile_informations,
 .user_home,
 .notifications_index,
 .registrations_edit{
   margin: 10px;
 }
