<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Filters</h3>
		</div>
		<div class="panel-body">
			<% case type %>
				<% when "ads" %>
					<ul>
						<li></li>
					</ul>
				<% when "users" %>
					<div class="panel-heading">
						<h4 class="panel-title">Gender</h4>
					</div>
					<div class="panel-body">						
						<ul class="list-group">
							<li class="list-group-item">
								<%= form_tag(search_index_path, method: "get", id: "gender-check-m") do %>
									<%= check_box_tag :genderM, params[:genderM]%> Male	
								<% end %>								
							</li>
							<li class="list-group-item">
								<%= form_tag(search_index_path, method: "get", id: "gender-check-f") do %>
									<%= check_box_tag :genderF, params[:genderF]%> Female	
								<% end %>							
							</li>
						</ul>										
					</div>					
				<% else %>
					<ul>
						<li></li>
					</ul>
			<% end %>
		</div>
	</div>
</div>